# conf file must be in same directory as script
[json]
app_name = Cloudflare
version = 1.0

[cloudflare]
account-email = 
api-key = 
run_interval = 300
state_dir = /usr/local/cloudflareEventLogs/state

